@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300);

body {
	background-color: #fff;
}


/** HEADER **/
#header {
	background-color: #3c9eea;
	height: 110px;
	width: 100%;
}

#logo {
	margin-left: auto;
	margin-right: auto;
}

#logo img {
	margin-left: auto;
	margin-right: auto;
	height: 300px;
}

/** END_HEADER **/

/** NAV **/
#navbar a:hover {
	background-color: #3c9eea;
	color: #fff;
}
/** END_NAV **/

/** HOME **/
h1 {
	color: #959595;
  font-size: 42px;
  font-family: 'Source Sans Pro', Arial;
  font-weight:normal;
  color: #4b5354;
}
/** END_HOME **/


/** UTILITY **/
.pagination-centered {
	text-align: center;
}

.border-top {
	border-top: 4px solid #84c2f2;
	width: 100%;
	margin-bottom: -10px;
}

.border-bottom {
	width: 100%;
	border-bottom: 4px solid #84c2f2;
}

.separator {
	width: 100%;
	border-bottom: 1px solid #84c2f2;
	margin-top: 3%;
	margin-bottom: 3%;
}
/** END_UTILITY **/

/* USERBAR */
.blog-masthead {
  background-color: #428bca;
  box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
  margin-bottom:20px;
}

.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  content: " ";
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  border-right:  5px solid transparent;
  border-left:   5px solid transparent;
  border-bottom: 5px solid;
}

.search-bar {
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
  min-width: 245px;
  padding-top: 8px;
  padding-bottom: 8px;
}
/* END USERBAR */

.col-md-5{
  padding: 0;
  
  height:100%;
}

.col-md-4{
  padding-left: 6px;
  padding-right: 6px;
  line-height: 
}

.thumbnail
{
	border: none;
	border-radius: 0px;
}

.thumbnail a .max-size{
  width: 100%;
  height: 100%;
  line-height:100%;
  text-align:center;
  background-color: #ecf0f1;
}

.thumbnail a img{
  max-height: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  vertical-align:middle;
}

.featuredbox {
  width: 100%;
  overflow: hidden;
  height: 120px;
  display: inline-block;
  background: #ffffff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) !important;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) !important;
  padding: 2px 2px 2px 2px;
  text-align:center;
}

.featuredbox img{
	
}



.hotfeaturedtext {
  text-align: left;
  margin: 5px 5px 5px 0px;
  font-size: 13px;
  line-height: 17px;
  color: #666666;
  float: right;
  height: 51px;
  clear: left;
  width: 100%;
  overflow: hidden;
}

.hotfeaturedtext strong {
  color: #4d4d4d;
  font-size: 12px;
}

.hotfeaturedtext hr {
  margin: 10px 0;
  border: 0;
  border-top: 1px solid #d9d9d9;
}

.hotfeaturedtext p {
  padding: 0;
  margin: 0;
}

.hotfeaturedbutton {
  text-align: left;
  margin: 0 6px;
  font-size: 13px;
  float: right;
  width: 100%;
}
.hotfeaturedbutton hr {
  margin: 3px 0;
  border: 0;
  border-top: 1px solid #d9d9d9;
}

.watch{
  width: 100%;
  box-shadow: 1px 1px 4px;
}

.watch td{
  padding: 10px;
  border:1px solid #7f8c8d;
}

.watch td:nth-child(1){
  width: 400px;
  border-top: none;
  border-left: none;
}

.watch td:nth-child(2){
  width: 314px;
  border-top: none;
}

.watch td:nth-child(3) {
  border-top: none;
}

.watch td:nth-child(4){
  width: 110px;
  border-top: none;
  border-right: none;
}

.watch tr:nth-child(2) td {
  border: none;
}

.watch .sharetwitter,.sharefb{
  width: 35px;
  margin-left: 5px;
}

.watch .title{
  font-family: 'Source Sans Pro', Arial;
  font-size:24px;
  font-weight: bold;
}

.watch .description{
  font-family: 'Source Sans Pro', Arial;
  font-size: 20px;
}

.channel
{
	margin-left: 10%;
	margin-right: 10%;
}