@CHARSET "UTF-8";

body {
	background-color: #fff;
}


/** HEADER **/
#header {
	background-color: #3c9eea;
	height: 110px;
	width: 100%;
}

#logo {
	margin-left: auto;
	margin-right: auto;
}

#logo img {
	margin-left: auto;
	margin-right: auto;
	height: 300px;
}

/** END_HEADER **/

/** NAV **/
#navbar a:hover {
	background-color: #3c9eea;
	color: #fff;
}
/** END_NAV **/

/** HOME **/
h1 {
	color: #959595;
}
/** END_HOME **/


/** UTILITY **/
.pagination-centered {
	text-align: center;
}

.border-top {
	border-top: 8px solid #3091db;
	width: 340px;
	margin-bottom: -10px;
}

.border-bottom {
	width: 480px;
	border-bottom: 8px solid #3091db;
}

.separator {
	width: 100%;
	border-bottom: 1px solid #3091db;
	margin-top: 3%;
	margin-bottom: 3%;
}
/** END_UTILITY **/

/* USERBAR */
.blog-masthead {
  background-color: #428bca;
  box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
  margin-bottom:20px;
}

.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  content: " ";
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  border-right:  5px solid transparent;
  border-left:   5px solid transparent;
  border-bottom: 5px solid;
}
/* END USERBAR */