.donate__links {

	position: relative;

	margin-top: 32px;

}

.donate__links a {

	display: inline-block;
	padding: 16px 26px;
	margin-right: 16px;

	font-size: 22px;
	color: white;

	border: 2px solid white;
	cursor: pointer;
	border-radius: 5px;

	transition: .12s;

	@media (max-width: 1000px) {
		padding: 14px 22px;
		font-size: 20px;
	}

	@media (max-width: 600px) {
		padding: 10px 15px;
		font-size: 18px;
	}

	&:active,
	&:hover {
		
		outline: none;
		border-color: $blue;
		background: rgba(64, 166, 224, .2);

	}

}