RewriteEngine On
RewriteRule ^home$ index.php?page=home [L]
RewriteRule ^signin$ index.php?page=reg [L]
RewriteRule ^login$ index.php?page=log [L]
RewriteRule ^logout$ index.php?page=log&out [L]
RewriteRule ^profile$ index.php?page=profile [L]
RewriteRule ^videoproperties-([a-zA-Z0-9]+)$ index.php?page=videoproperties&vidId=$1 [L]
