.bgLoader {
	opacity: 0;

	@media (min-width: 640px) {
		-webkit-transition: opacity 0.15s;
		   -moz-transition: opacity 0.15s;
			-ms-transition: opacity 0.15s;
			 -o-transition: opacity 0.15s;
				transition: opacity 0.15s;
	}
	
	&.bgLoaded { opacity: 1; }
}