html { background-color: #f1f0f0; }

body { background-color: white; }

footer {
	position: relative;
	top: 10px;

	width: 100%;
	border-top: 1px solid #d1d1d1;

	background-color: #f1f0f0;

	#inner-footer {
		max-width: 1000px;
		margin: auto;
		padding: 20px 15px 20px 15px;
		
		text-align: left;
		color: #797171;

		.row {
			float: left;

			display: block;
			width: 30%;
			margin: 5px 2% 30px 0;

			@media (max-width: 600px) {
				width: 45%;
				margin: 5px 2% 30px 2%;
			}
			@media (max-width: 500px) { width: 90%; }

			h1 {
				margin-bottom: 5px;
				color: #333;
				font-size: 20px;
			}

			a {
				display: block;
				margin-top: 3px;

				color: #848b90;
				text-decoration: none;

				&:hover { text-decoration: underline; }
			}
		}

		.rights {
			clear: both;

			display: block;
			margin-top: 20px;

			color: #848b90;

			.license > img {
				float: left;

				width: 80px;
				height: 15px;
				margin-right: 5px;

				background: black;
				opacity: 0.5;

				&:hover { opacity: 1; }
			}

			a {
				color: #848b90;
				text-decoration: underline;

				&:hover { text-decoration: none; }
			}

			.github { margin-left: 15px; }

			.love {
				float: right;

				@media (max-width: 900px) {
					float: none;
					display: block;
					margin-bottom: 15px;
				}

				i {
					color: #f2749b;

					-webkit-animation: heart 2s ease-in 0s infinite normal;
					   -moz-animation: heart 2s ease-in 0s infinite normal;
						-ms-animation: heart 2s ease-in 0s infinite normal;
						 -o-animation: heart 2s ease-in 0s infinite normal;
							animation: heart 2s ease-in 0s infinite normal;
				}
			}
		}
	}
}

@-webkit-keyframes heart {
    0% { text-shadow: 0 0 20px #{"rgba(213, 9, 60, 0.2)"}; }
    50% { text-shadow: 0 0 20px #{"rgba(213, 9, 60, 1)"}; }
    100% { text-shadow: 0 0 20px #{"rgba(213, 9, 60, 0.2)"}; }
}
@-moz-keyframes heart {
    0% { text-shadow: 0 0 20px #{"rgba(213, 9, 60, 0.2)"}; }
    50% { text-shadow: 0 0 20px #{"rgba(213, 9, 60, 1)"}; }
    100% { text-shadow: 0 0 20px #{"rgba(213, 9, 60, 0.2)"}; }
}
@-ms-keyframes heart {
    0% { text-shadow: 0 0 20px #{"rgba(213, 9, 60, 0.2)"}; }
    50% { text-shadow: 0 0 20px #{"rgba(213, 9, 60, 1)"}; }
    100% { text-shadow: 0 0 20px #{"rgba(213, 9, 60, 0.2)"}; }
}
@-o-keyframes heart {
    0% { text-shadow: 0 0 20px #{"rgba(213, 9, 60, 0.2)"}; }
    50% { text-shadow: 0 0 20px #{"rgba(213, 9, 60, 1)"}; }
    100% { text-shadow: 0 0 20px #{"rgba(213, 9, 60, 0.2)"}; }
}
@keyframes heart {
    0% { text-shadow: 0 0 20px #{"rgba(213, 9, 60, 0.2)"}; }
    50% { text-shadow: 0 0 20px #{"rgba(213, 9, 60, 1)"}; }
    100% { text-shadow: 0 0 20px #{"rgba(213, 9, 60, 0.2)"}; }
}