/* NAV VARIABLES */
$hr_bg_color: #f1f0f0;

$nav_background : #40a6e0;
$nav_shadow : #33799f;
$nav_borders : #33799f;
$nav_texts: #fff;
$nav_top_hover: #3d9ed5;

$nav_bottom_background: #f1f0f0;
$nav_bottom_li: #959595;
$nav_bottom_li_hover: #40a6e0;

$video_h1_color: #858484;

body { font-family: "Source Sans Pro", Arial;}

a { text-decoration: none; }

header {
	a { color: white; }
}

#top-nav {
	width: 100%;
	height: 60px;

	background-color: $nav_background;
	border-bottom: 2px solid $nav_shadow;
}

#inner-top-nav {
	position: relative;

	max-width: 1000px;
	margin: auto;
	padding: 0;

	#inner-top-nav-left {
		display: inline-block;
		padding-left: 15px;
		padding-right: 15px;

		a {
			float: left;

			display: block;
			height: 60px;
			width: 180px;

			cursor: pointer;

			.top-nav-icon-logo { margin-top: 15px; }

			.top-nav-text-logo {
				position: relative;
				left: 15px;
				top: -4px;
			}
		}
	}

	#inner-top-nav-right {
		position: absolute;
		top: 0;
		right: 0;

		display: inline-block;

		form {
			display: inline-block;
			margin-right: -3px;

			border-left: 1px solid $nav_borders;
			border-right: 1px solid $nav_borders;
			
			input[type="text"] {
				width: 150px;
				height: 58px;
				border: 0;
				padding-left: 20px;

				background-color: $nav_background;
				color: $nav_texts;
			}

			@mixin header-input-placeholder() {
				position: relative;

				color: white;
				font-style: italic;
				font-size: 14px;
				font-family: "Source Sans Pro", Arial;
			}

			input[type="text"]::-webkit-input-placeholder { @include header-input-placeholder(); }
			   input[type="text"]::-moz-input-placeholder { @include header-input-placeholder(); }
				input[type="text"]::-ms-input-placeholder { @include header-input-placeholder(); }
				 input[type="text"]::-o-input-placeholder { @include header-input-placeholder(); }
					input[type="text"]::input-placeholder { @include header-input-placeholder(); }

			input[type="submit"] {
				position: relative;
				right: 5px;
				
				height: 30px;
				width: 30px;
				margin-top: 15px;

				background-color: transparent;
				background-image: url(../img/search_icon.png);
				background-repeat: no-repeat;
				background-position: center center;
				border: none;
				vertical-align: top;
				cursor: pointer;
			}

			input[type="submit"]:focus,
			input[type="text"]:focus { outline: none; }
		}

		#top-nav-user-information {
			display: inline-block;
			vertical-align: top;
			text-align: right;

			#top-nav-user-information-button {
				position: relative;

				display: inline-block;
				margin-left: 0;
				padding-right: 15px;
				
				vertical-align: top;
				border-right: 1px solid $nav_borders;

				img:first-child {
					width: 60px;
					height: 60px;
					border-right: 1px solid $nav_borders;
				}

				img, h4 {
					position: relative;

					display: inline-block;

					vertical-align: middle;
					color: $nav_texts;
				}

				h4 {
					position: relative;

					margin-left: 20px;
					margin-right: 20px;

					font-weight: normal;
					font-size: 14px;
					font-weight: bold;
				}

				&:hover {
					background-color: $nav_top_hover;
					cursor: pointer;
				}
			}
			#top-connection {
				display: inline-block;
				width: 179px;
				height: 60px;
				padding-top: 25px;
				
				border-right: 1px solid $nav_borders;
				text-align: center;
				font-size: 14px;

				-webkit-box-sizing: border-box;
    			   -moz-box-sizing: border-box;
    				-ms-box-sizing: border-box;
    				 -o-box-sizing: border-box;
    					box-sizing: border-box;

				p {
					display: inline;
					margin-left: 7px;
					margin-right: 7px;
					
					color: #e8e8e8;
				}
			}

			#top-nav-user-information-button {
				position: relative;

				display: inline-block;
				margin-left: 0;
				padding-right: 15px;
				
				vertical-align: top;
				border-right: 1px solid $nav_borders;

				img, h4 {
					position: relative;

					display: inline-block;

					vertical-align: middle;
					color: $nav_texts;
				}

				h4 {
					position: relative;

					margin-left: 20px;
					margin-right: 20px;

					font-weight: normal;
					font-size: 14px;
					font-weight: bold;
				}

			}

			#top-nav-user-information-button:hover {
				background-color: $nav_top_hover;
				cursor: pointer;
			}

			#top-nav-user-information-menu {
				position: absolute;
				top: 60px;
				right: 0;
				z-index: 101;
				
				display: none;

				&.show { display: inline-block; }

				ul > a {
					position: relative;

					display: block;
					width: 210px;
					margin-top: 2px;
					margin-bottom: -2px;
    				padding: 10px 15px;
					
					background-color: #a7a7a7;
    				font-size: 14px;

    				-webkit-box-sizing: border-box;
    				   -moz-box-sizing: border-box;
    					-ms-box-sizing: border-box;
    					 -o-box-sizing: border-box;
    						box-sizing: border-box;

    				&:hover { background-color: #9c9c9c; }
    			}
			}
		}
	}
}


#bottom-nav {
	height: 40px;
	background-color: $nav_bottom_background;

	#inner-bottom-nav {
		position: relative;
		max-width: 1000px;
		margin: auto;

		nav {
			position: relative;
			left: -10px;
			display: inline-block;
			
			li {
				position: relative;

				display: inline-block;
				width: 120px;
				margin-left: 10px;
				
				line-height: 41px;
				text-transform: uppercase;
				font-size: 14px;
				text-align: center;

				&:after {
					position: relative;
					top: -4px;

					display: block;
					width: 0;
					height: 3px;
					margin: 0 auto;

					content: "";
					background-color: $nav_bottom_li_hover;
					opacity: 0;

					@media (min-width: 640px) {
						-webkit-transition: 0.15s;
						   -moz-transition: 0.15s;
							-ms-transition: 0.15s;
							 -o-transition: 0.15s;
								transition: 0.15s;
					}
				}
				&:hover, &.current {
					&:after {
						width: 100%;
						opacity: 1;
					}
				}

				a {
					color: $nav_bottom_li;

					&:hover{ color: $nav_bottom_li_hover; }
				}

				&[data-new]:before {
					position: absolute;
					top: -5px;
					right: -3px;

					display: inline-block;
					width: 20px;
					height: 20px;

					background: #F9A41E;
					color: white;
					font-size: 16px;
					line-height: 20px;
					text-align: center;
					border-radius: 50%;
					content: attr(data-new);
						border: 3px solid white;

				}

				&:not([data-new="1"]):not([data-new="2"]):not([data-new="3"]):not([data-new="4"]):not([data-new="5"]):not([data-new="6"]):not([data-new="7"]):not([data-new="8"]):not([data-new="9"]):before {
					top: -8px;
					right: -8px;

					width: 25px;
					height: 25px;
					
					line-height: 25px;
				}
			}
		}

		#mobile-nav-icon { display: none; }

		#bottom-nav-social {
			position: absolute;
			top: 0;
			right: 0;
			float: right;

			display: inline-block;
			
			vertical-align: top;

			li {
				display: inline-block;
				margin-right: 10px;
				line-height: 42px;
			}
		}
	}
}

@media (max-width: 700px) {
	#top-nav {
		a {
			width: 70px!important;

			#top-nav-logo-text { display: none; }
		}
	}

	#inner-top-nav {
		#inner-top-nav-right {
			#top-nav-user-information {
				text-align: right;

				#top-nav-user-information-button {
					h4 { display: none; }

					#top-nav-user-arrow { margin-left: 15px; }
				}
			}
		}
	}

	#bottom-nav {
		#inner-bottom-nav {
			nav {
				position: fixed;
				top: 0;
				margin-left: -210px;
				z-index: 100;

				height: 100%;

				background-color: darken($nav_bottom_background, 5%);

				&.open {
					margin-left:  -5px;
					box-shadow: 0 0 0 700px #{"rgba(0, 0, 0, 0.5)"};
				}

				-webkit-box-shadow: 0 0 0 700px transparent;
				   -moz-box-shadow: 0 0 0 700px transparent;
					-ms-box-shadow: 0 0 0 700px transparent;
					 -o-box-shadow: 0 0 0 700px transparent;
						box-shadow: 0 0 0 700px transparent;

				-webkit-transition: 0.2s;
				   -moz-transition: 0.2s;
					-ms-transition: 0.2s;
					 -o-transition: 0.2s;
						transition: 0.2s;

				li {
					display: block;
					width: 200px;
					margin-left: 5px;

					@media (max-width: 350px) { width: 170px; }

					&:after {
						position: absolute;
						top: 2px;
						left: 15px;

						width: 4px;
						height: 34px;

						opacity: 0;
					}
					&:hover, &.current {
						&:after {
							width: 4px;
							opacity: 1;
						}
					}
				}
			}

			#mobile-nav-icon{
				position: relative;
				left: 15px;
				top: 10px;
				z-index: 101;
				float: left;
				
				display: block;
				width: 20px;
				height: 20px;
				
				cursor: pointer;
				line-height: 41px;

				-webkit-transition: 0.2s;
				   -moz-transition: 0.2s;
					-ms-transition: 0.2s;
					 -o-transition: 0.2s;
						transition: 0.2s;

				p {
					position: relative;
					top: 8px;

					width: 20px;
					height: 3px;

					background: #bbb;

					-webkit-transition: 0.2s;
					   -moz-transition: 0.2s;
						-ms-transition: 0.2s;
						 -o-transition: 0.2s;
							transition: 0.2s;

					&:before, &:after {
						position: relative;

						display: block;
						width: 20px;
						height: 3px;

						content: "";
						background: #bbb;

						-webkit-transition: -webkit-transform 0.5s;
						   -moz-transition: -moz-transform 0.5s;
							-ms-transition: -ms-transform 0.5s;
							 -o-transition: -o-transform 0.5s;
								transition: transform 0.5s;
					}
					&:before { top: -6px; }
					&:after {
						top: 6px;
						margin-top: -3px;
					}
				}

				&:hover {
					p {
						background: #999;

						&:before,
						&:after { background: #999; }
					}
				}
			}
			#mobile-nav-icon.open {
				left: 210px;
				@media (max-width: 350px) { left: 185px; }

				p {
					background: transparent;

					-webkit-transition: 0;
					   -moz-transition: 0;
						-ms-transition: 0;
						 -o-transition: 0;
							transition: 0;

					&:before, &:after {
						top: 0;
						background: white;
					}
					&:before {
						-webkit-transform: rotate(45deg);
						   -moz-transform: rotate(45deg);
							-ms-transform: rotate(45deg);
						 	 -o-transform: rotate(45deg);
								transform: rotate(45deg);
					} &:after {
						-webkit-transform: rotate(-45deg);
						   -moz-transform: rotate(-45deg);
							-ms-transform: rotate(-45deg);
						 	 -o-transform: rotate(-45deg);
								transform: rotate(-45deg);
					}
				}
			}
		}
	}
}

@media (max-width: 450px) {
	#inner-top-nav {
		#inner-top-nav-right {
			position: absolute;
			top: 0;
			right: 0;

			form {
				input[type="text"] {
					width: 100px;
					padding-left: 10px;
				}
			}

			#top-nav-user-information {
				#top-connection { width: 120px; }
			}
		}
	}
}
@media (max-width: 350px) {
	#inner-top-nav {
		#inner-top-nav-right {
			form {					
				input[type="text"] {
					width: 50px;
					padding-left: 5px;
				}
			}
			
			#top-nav-user-information {
				#top-connection { width: 100px; }
			}
		}
	}
}