h1.title {
	margin: 30px 0 25px 15px;
	font-size: 25px;
	color: #858484;

	@media (max-width: 630px) { margin-left: 10px; }

	&:after {
		position: relative;
		bottom: -5px;

		display: block;
		height: 4px;
		width: 25px;
		border: none;
		
		content: "";
		background-color: #dddedd;
	}

	a {
		color: #ccc;
		font-size: 20px;

		&:hover { color: #aaa; }
		&:hover:before { color: #ccc; }

		&:before { content: " / "; }
	}

	&:after {
		position: relative;
		bottom: -5px;

		display: block;
		height: 4px;
		width: 25px;
		border: none;
		
		content: "";
		background-color: #dddedd;
	}
}

h3.title {
	margin-left: 5%;

	font-weight: normal;
	font-size: 18px;
	line-height: 90px;
	color: #858484;

	&:after {
		position: relative;
		bottom: 30px;

		display: block;
		height: 4px;
		width: 25px;
		border: none;
		
		content: "";
		background-color: #f1f0f0;
	}
}