/*
 *	Style
 */

#player {

	position: absolute;
	overflow: hidden;
	background: black;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	float: left;

	-webkit-user-select :none;
	-moz-user-select :none;
	-ms-user-select :none;
	user-select :none;

}

@media all and (max-width: 700px) {

	#player {

		width: 100%;

	}

}

#player.animated {

	-webkit-transition: width 0.4s;
	-moz-transition: width 0.4s;
	-ms-transition: width 0.4s;
	-o-transition: width 0.4s;
	transition: width 0.4s;

}
#player.wide {
	width: 100%;
	height: auto;
}
#player:-webkit-full-screen {
	margin: 0!important;
	top: 0!important;
	left: 0!important;
	width: 100%!important;
	height: 100%!important;
}
#player:-webkit-full-screen > #controls, #player:-webkit-full-screen > #controls > #progress {
  	width: 100%;
}

video {

	width: 100%;
	height: 100%;

}

/*
 *	Bouton repeat (à la fin)
 */

@-webkit-keyframes rotate {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(-360deg);}
}
@-moz-keyframes rotate {
	from {-moz-transform: rotate(0deg);}
	to {-moz-transform: rotate(-360deg);}
}
@-ms-keyframes rotate {
	from {-ms-transform: rotate(0deg);}
	to {-ms-transform: rotate(-360deg);}
}
@-o-keyframes rotate {
	from {-o-transform: rotate(0deg);}
	to {-o-transform: rotate(-360deg);}
}
@keyframes rotate {
	from {transform: rotate(0deg);}
	to {transform: rotate(-360deg);}
}
#repeat {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	cursor: pointer;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0;
	overflow: hidden;

	-webkit-transition: 0s;
	-moz-transition: 0s;
	-ms-transition: 0s;
	-o-transition: 0s;
	transition: 0s;
}
#repeat.show {
	opacity: 1;
	width: 100%;
	height: 100%;
}
@media all and (min-width: 640px) {
	#repeat.show {
		-webkit-transition: opacity 0.5s;
		-moz-transition: opacity 0.5s;
		-ms-transition: opacity 0.5s;
		-o-transition: opacity 0.5s;
		transition: opacity 0.5s;
	}
}
#repeat > .icon {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 128px;
	height: 128px;
	margin-top: -64px;
	margin-left: -64px;
	background-image: url(../img/player/repeat.png);
}
@media all and (min-width: 640px) {
	#repeat > .icon {
		-webkit-transform-origin: 50% 50%;
		-moz-transform-origin: 50% 50%;
		-ms-transform-origin: 50% 50%;
		-o-transform-origin: 50% 50%;
		transform-origin: 50% 50%;

		-webkit-animation: rotate 20s linear 0s;
		-moz-animation: rotate 20s linear 0s;
		-ms-animation: rotate 20s linear 0s;
		-o-animation: rotate 20s linear 0s;
		animation: rotate 20s linear 0s;

		-webkit-animation-iteration-count: infinite;
		-moz-animation-iteration-count: infinite;
		-ms-animation-iteration-count: infinite;
		-o-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
	}
}

/*
 *	SÃ©lection de qualitÃ©
 */
 
#qualitySelection {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0;
	overflow: hidden;

	-webkit-transition: 0s;
	-moz-transition: 0s;
	-ms-transition: 0s;
	-o-transition: 0s;
	transition: 0s;
}
#qualitySelection.show {
	opacity: 1;
	width: 100%;
	height: 100%;
}
@media all and (min-width: 640px) {
	#qualitySelection.show {
		-webkit-transition: opacity 0.5s;
		-moz-transition: opacity 0.5s;
		-ms-transition: opacity 0.5s;
		-o-transition: opacity 0.5s;
		transition: opacity 0.5s;
	}
}
#qualitySelection > * {
	position: absolute;
	top: 40%;
	padding-top: 110px;
	width: 205px;
	height: 100px;
	margin-left: -100px;
	margin-top: -50px;
	cursor: pointer;
	text-align: center;
	color: white;
	font-size: 35px;
	font-family: Arial, Sans-Serif;
	background-repeat: no-repeat;
}
#qualitySelection[data-number="3"] > *:nth-child(-n+2) {
   	top: 30%;
}
#qualitySelection > #q1 {
	left: 30%;
}
#qualitySelection > #q2 {
	left: 70%;
}
#qualitySelection > #q3 {
	left: 50%;
   	top: 70%;
}
#qualitySelection > *[data-format="360"] {
	background-image: url(../img/player/cloudQ1.png);
}
#qualitySelection > *[data-format="720"] {
	background-image: url(../img/player/cloudQ2.png);
}
#qualitySelection[data-number="1"] > *[data-format="720"], #qualitySelection[data-number="2"] > *[data-format="720"] {
   	background-image: url(../img/player/cloudQ2lisse.png);
}
#qualitySelection > *[data-format="1080"] {
	background-image: url(../img/player/cloudQ3.png);
}
@media all and (max-width: 550px) {
   	#qualitySelection > * {
   		width: 154px;
   		height: 75px;
   		margin-left: -77px;
   		margin-top: -38px;
   		background-size: 103px 50px;
   	}
   	#qualitySelection > *[data-format="360"] {
		background-image: url(../img/player/cloudQ1m.png);
	}
	#qualitySelection > *[data-format="720"] {
		margin-left: -50px;
		background-image: url(../img/player/cloudQ2m.png);
	}
	#qualitySelection[data-number="1"] > *[data-format="720"], #qualitySelection[data-number="2"] > *[data-format="720"] {
   		background-image: url(../img/player/cloudQ2lisse.png);
	}
	#qualitySelection > *[data-format="1080"] {
		background-image: url(../img/player/cloudQ3m.png);
	}
}

/*
 *	Gros icones animÃ©s (play et pause)
 */
 
@-webkit-keyframes bigIconPlay {
	from {top: 53%; opacity: 0; width: 128px;}
	10% {opacity: 1;}
	60% {opacity: 1;}
	to {top: 47%; opacity: 0; width: 128px;}
}
@-moz-keyframes bigIconPlay {
	from {top: 53%; opacity: 0; width: 128px;}
	10% {opacity: 1;}
	60% {opacity: 1;}
	to {top: 47%; opacity: 0; width: 128px;}
}
@-ms-keyframes bigIconPlay {
	from {top: 53%; opacity: 0; width: 128px;}
	10% {opacity: 1;}
	60% {opacity: 1;}
	to {top: 47%; opacity: 0; width: 128px;}
}
@-o-keyframes bigIconPlay {
	from {top: 53%; opacity: 0; width: 128px;}
	10% {opacity: 1;}
	60% {opacity: 1;}
	to {top: 47%; opacity: 0; width: 128px;}
}
@keyframes bigIconPlay {
	from {top: 44%; opacity: 0; width: 128px;}
	10% {opacity: 1;}
	60% {opacity: 1;}
	to {top: 47%; opacity: 0; width: 128px;}
}
#bigPlay, #bigPause {
	position: absolute;
	left: 50%;
	width: 0;
	height: 128px;
	margin-top: -64px;
	margin-left: -64px;

	-webkit-animation-duration: 0.3s;
	-moz-animation-duration: 0.3s;
	-ms-animation-duration: 0.3s;
	-o-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	-ms-animation-timing-function: linear;
	-o-animation-timing-function: linear;
	animation-timing-function: linear;
}
@media all and (max-width: 640px) {
	#bigPlay, #bigPause {
		width: 0;
		height: 0;
	}
}
#bigPlay {
	background-image: url(../img/player/bigPlay.png);
}
@-webkit-keyframes bigIconPause {
	from {top: 47%; opacity: 0; width: 128px;}
	10% {opacity: 1;}
	60% {opacity: 1;}
	to {top: 53%; opacity: 0; width: 128px;}
}
@-moz-keyframes bigIconPause {
	from {top: 47%; opacity: 0; width: 128px;}
	10% {opacity: 1;}
	60% {opacity: 1;}
	to {top: 53%; opacity: 0; width: 128px;}
}
@-ms-keyframes bigIconPause {
	from {top: 47%; opacity: 0; width: 128px;}
	10% {opacity: 1;}
	60% {opacity: 1;}
	to {top: 53%; opacity: 0; width: 128px;}
}
@-o-keyframes bigIconPause {
	from {top: 47%; opacity: 0; width: 128px;}
	10% {opacity: 1;}
	60% {opacity: 1;}
	to {top: 53%; opacity: 0; width: 128px;}
}
@keyframes bigIconPause {
	from {top: 47%; opacity: 0; width: 128px;}
	10% {opacity: 1;}
	60% {opacity: 1;}
	to {top: 53%; opacity: 0; width: 128px;}
}
#bigPause {
	background-image: url(../img/player/bigPause.png);
}

/*
 *	Barre des controles
 */
 
#controls {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 32px;
	display: block;
	background: #3c9eea;
	color: white;
	font-family: Arial, Sans-Serif;
}
@media all and (min-width: 640px) {
	#controls {
		-webkit-transition: bottom 0.25s;
		-moz-transition: bottom 0.25s;
		-ms-transition: bottom 0.25s;
		-o-transition: bottom 0.25s;
		transition: bottom 0.25s;
	}

	#controls.down {
		-webkit-transition: bottom 0.7s;
		-moz-transition: bottom 0.7s;
		-ms-transition: bottom 0.7s;
		-o-transition: bottom 0.7s;
		transition: bottom 0.7s;
	}
}
#controls.down {
	bottom: -40px;
}
#controls.down > #progress > #current {
	opacity: 0;
}
#controls > * {
	margin: 0;
}

/*
 *	Barre de progression
 */
 
#progress {
	display: inline-block;
	position: relative;
	bottom: 10px;
	width: 100%;
	height: 10px;
	background-color: rgba(255, 255, 255, 0.1);
}
#controls.down > #progress, #controls.down > #progress > #buffered {
	background-color: rgba(255, 255, 255, 0);
}
#controls.down > #progress > #viewed {
	background-color: #3c9eea;
}
@media all and (min-width: 640px) {
	#progress > * {
		-webkit-transition: 0.2s;
		-moz-transition: 0.2s;
		-ms-transition: 0.2s;
		-o-transition: 0.2s;
		transition: 0.2s;
	}
	#controls.down > #progress > * {
		-webkit-transition: 1s;
		-moz-transition: 1s;
		-ms-transition: 1s;
		-o-transition: 1s;
		transition: 1s;
	}
}
#progress.clicking > * {
	-webkit-transition: 0;
	-moz-transition: 0;
	-ms-transition: 0;
	-o-transition: 0;
	transition: 0;
}
#progress > #buffered {
	display: block;
	width: 0;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 0 4px 4px 0;
}
#progress > #viewed {
	display: block;
	width: 0;
	height: 100%;
	background-color: rgba(20, 20, 20, 0.6);
	position: relative;
	bottom: 100%;
}
#progress > #current {
	display: inline-block;
	position: relative;
	bottom: 24px;
	left: 0;
	margin-left: -16px;
	margin-top: 6px;
	width: 35px;
	height: 12px;
	cursor: pointer;
	background: white;
	border-radius: 20% 20% 20% / 50% 50%;
}
#progress > #current:after, #progress > #current:before {
	content: "";
	position: absolute;
	background: white;
}
#progress > #current:after {
	width: 60%;
	height: 130%;
	top: -50%;
	left: 10%;
	border-radius: 90% 120% 0 100%;
}
#progress > #current:before {
	width: 60%;
	height: 150%;
	top: -60%;
	right: 8%;
	border-radius: 90% 100% 50% 0;
}

/*
 *	Petit bouton play/pause
 */
 
#play-pause {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 40px;
	height: 28px;
	cursor: pointer;

	background-image: url(../img/player/play.png);
	background-position: 10px 1px;
	background-size: 22px 22px;
	background-repeat: no-repeat;
}

/*
 *	Indication du temps
 */
 
#time {
	position: absolute;
	bottom: 6px;
	left: 38px;
	font-size: 14px;
	cursor: default;
}

/*
 *	Bouton pour "toogle" les annotations
 */
 
#annotationsButton {
	display: inline-block;
	width: 28px;
	height: 32px;
	position: absolute;
	bottom: -1px;
	right: 170px;
	cursor: pointer;

	background-image: url(../img/player/annotation.png);
	background-position: 0 5px;
	background-repeat: no-repeat;
}
#annotationsButton:hover {
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
	opacity: 0.7;
}
#annotationsButton.not {
	opacity: 0.3;
}

/*
 *	Bouton pour rÃ©gler la qualitÃ©
 */
 
#qualityButton {
	position: absolute;
	bottom: 6px;
	right: 146px;
	font-size: 16px;
	cursor: pointer;
}

/*
 *	Volume
 */
 
#volume {
	position: absolute;
	bottom: 13px;
	right: 80px;
	width: 60px;
	height: 8px;
	border-radius: 4px;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.3);
}
#volume > #barre {
	display: block;
	width: 100%;
	height: 100%;
	background-color: #95caf4;
	border-radius: 4px;
}
#volume > #icon {
	display: inline-block;
	position: relative;
	bottom: 20px;
	left: 100%;
	margin-left: -12px;
	width: 32px;
	height: 32px;
	background-image: url(../img/player/volume3.png);
	cursor: pointer;
}

/*
 *	Widescreen
 */
 
#widescreen {
	display: inline-block;
	width: 28px;
	height: 32px;
	position: absolute;
	bottom: 0;
	right: 30px;
	cursor: pointer;

	background-image: url(../img/player/widescreen.png);
	background-position: 0 8px;
	background-repeat: no-repeat;
}
@media all and (max-width: 700px) {
	#widescreen {
		display: none;
	}
	#volume {
		right: 50px;
	}
	#qualityButton {
		right: 116px;
	}
	#annotationsButton {
		right: 140px;
	}
}

/*
 *	Fullscreen
 */
 
#fullscreen {
	display: inline-block;
	width: 28px;
	height: 32px;
	position: absolute;
	bottom: 0;
	right: 0;
	cursor: pointer;

	background-image: url(../img/player/fullscreen.png);
	background-position: 5px 8px;
	background-repeat: no-repeat;
}

/*
 *	Error
 */

#errorLoading {

	position: absolute;
	top: 0; bottom: 0; right: 0; left: 0;
	z-index: 9;

	display: none;
	height: 100%;

	background: #f6503f;
	overflow: hidden;

}

#errorLoading.show {

	display: block;

}

#errorLoading p {
	
	color: white;
	text-align: center;
	font-family: "Source Sans Pro";
	font-weight: 300;
	font-size: 38px;

	position: relative;
	top: 50%;

	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;

}

#errorLoading::selection,
#errorLoading p::selection {

	background: white;
	color: #f6503f;

}

@media (max-width: 500px) {

	#errorLoading p {

		font-family: sans-serif;
		font-size: 22px;

	}

}

/*
 *	Annotations
 */
 
#annotationsElement {
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	right: 0;
	overflow: hidden;
	padding: 0;
}
#annotationsElement.hide {
	opacity: 0;
}

.annotation {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 10px 0 10px;
	position: absolute;
	cursor: default;
	display: table-cell;
	vertical-align: middle;

	color: white;
	font-family: Arial;
	font-size: 30px;
	text-align: center;
	background-color: rgba(60, 158, 234, 0.4);
}
.annotation > p, .annotation > a {
	margin: 15px 0 15px 0;
}
.annotation > a {
	color: white;
	text-decoration: none;
	display: block;
}
.annotation > .close {
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	top: -10px;
	right: -10px;
	background-image: url(../img/player/close.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
	opacity: 0;
	cursor: pointer;

	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.annotation:hover > .close {
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
	opacity: 0.5;
}
.annotation > .close:hover {
	opacity: 1;
}

.annotation.orange {
	background-color: rgba(223, 109, 20, 0.4);
}
.annotation.yellow {
	background-color: rgba(255, 255, 0, 0.4);
}
.annotation.pink {
	background-color: rgba(253, 63, 146, 0.4);
}
.annotation.red {
	background-color: rgba(235, 0, 0, 0.4);
}
.annotation.green {
	background-color: rgba(158, 253, 56, 0.4);
}
.annotation.purple {
	background-color: rgba(102, 0, 153, 0.4);
}

.annotation.white{
	background-color: rgba(255, 255, 255, 0.4);
	color: #1E1E1E;
}
.annotation.black {
	background-color: rgba(0, 0, 0, 0.4);
}