
/* LONG CARDS LIST
   ============================= */

.long-cards-list {

	display: block;
	width: 100%;

	h3 {

		margin-left: 2%;

		font-weight: normal;
		font-size: 18px;
		line-height: 90px;
		color: #858484;

		&:after {

			position: relative;
			bottom: 30px;

			display: block;
			height: 4px;
			width: 25px;
			border: none;
			
			content: "";
			background-color: #f1f0f0;

		}

	}

	.card {

		float: left;

		width: 45%;
		margin-left: 2%;
		margin-right: 2%;

		@media (max-width: 800px) { width: 95%; }
		
	}
}