
/**
 * components/watch/video-infos/live-chat/input.scss
 * 
 * LIVE CHAT INPUT
 */

.live-chat__form {

	position: absolute;
	bottom: 30px;

	background: $green;

}

.live-chat__form__input {

	background: $yellow;

}