
/* COLORS
   ============================= */

$hr_bg_color: #f1f0f0;

$nav_background : #40a6e0;
$nav_shadow : #33799f;
$nav_borders : #33799f;
$nav_texts: #fff;
$nav_top_hover: #3d9ed5;

$nav_bottom_background: #f1f0f0;
$nav_bottom_li: #959595;
$nav_bottom_li_hover: #40a6e0;

$video_h1_color: #858484;