
/* COLORS
   ============================= */

$hr_bg_color: #f1f0f0;

$nav_background : #40a6e0;
$nav_shadow : #33799f;
$nav_borders : #33799f;
$nav_texts: #fff;
$nav_top_hover: #3d9ed5;

$nav_bottom_background: #f1f0f0;
$nav_bottom_li: #959595;
$nav_bottom_li_hover: #40a6e0;

$video_h1_color: #858484;

// Material design colors

$red:         #e51c23;
$pink:        #e91e63;
$purple:      #9c27b0;
$deep-purple: #673ab7;
$indigo:      #3f51b5;
$blue:        #40a6e0;
$light-blue:  #03a9f4;
$cyan:        #00bcd4;
$teal:        #009688;
$green:       #259b24;
$light-green: #8bc34a;
$lime:        #cddc39;
$yellow:      #ffeb3b;
$amber:       #ffc107;
$orange:      #ff9800;
$deep-orange: #ff5722;
$brown:       #795548;
$grey:        #9e9e9e;
$light-grey:  #eaeaea;
$dark-grey:   #696969;
$blue-grey:   #607d8b;

$colors: (
	
	        (red $red),
	       (pink $pink),
	     (purple $purple),
	(deep-purple $deep-purple),
	     (indigo $indigo),
	       (blue $blue),
	 (light-blue $light-blue),
	       (cyan $cyan),
	       (teal $teal),
	      (green $green),
	(light-green $light-green),
	       (lime $lime),
	     (yellow $yellow),
	      (amber $amber),
	     (orange $orange),
	(deep-orange $deep-orange),
	      (brown $brown),
	       (grey $grey),
	 (light-grey $light-grey),
	  (dark-grey $dark-grey),
	  (blue-grey $blue-grey)

);

// Bound variables

$_color-name: 0;
$_color-value: 0;