
/* ANIMATED RIPPLE CIRCLE
   ============================= */

.ripple__circle--animate {

	width: 100px;
	height: 0;
	margin: -50px 0 0 -50px;
	opacity: 0.4;

	@include prefix(animation, #{"ripple 1s ease-out"});

}

@-webkit-keyframes ripple {

	from {
	
		height: 100px;

	}

	to {

		height: 100px;
		opacity: 0;

		@include prefix(transform, #{"scale(6)"});

	}

}

@-moz-keyframes ripple {

	from {
	
		height: 100px;

	}

	to {

		height: 100px;
		opacity: 0;
		
		@include prefix(transform, #{"scale(6)"});

	}

}

@-ms-keyframes ripple {

	from {
	
		height: 100px;

	}

	to {

		height: 100px;
		opacity: 0;

		@include prefix(transform, #{"scale(6)"});

	}

}

@-o-keyframes ripple {

	from {
	
		height: 100px;

	}

	to {

		height: 100px;
		opacity: 0;

		@include prefix(transform, #{"scale(6)"});

	}

}

@keyframes ripple {

	from {
	
		height: 100px;

	}

	to {

		height: 100px;
		opacity: 0;

		@include prefix(transform, #{"scale(6)"});

	}

}