
/* Z DEPHT
   ============================= */

$z-depth: (

	0 2px 5px 0 rgba(0, 0, 0, 0.12),

	0 6px 17px 0 rgba(0, 0, 0, 0.16),

	0 10px 15px 0 rgba(0, 0, 0, 0.19),

	0 12px 24px 0 rgba(0, 0, 0, 0.25),

	0 16px 28px 0 rgba(0, 0, 0, 0.30)

);

@mixin z-depht($depth: 1) {

	@if ($depth == 0) {

		@include box-shadow(none);
	
		filter: progid:DXImageTransform.Microsoft.Shadow(color='#aaaaaa', Direction=135, Strength=0);

	}

	@else {

		@include box-shadow(nth($z-depth, $depth));

		filter: progid:DXImageTransform.Microsoft.Shadow(color='#aaaaaa', Direction=135, Strength=#{$depth * 1.5});

	}
	
}