body {
	margin: 0;
	padding: 0;
}

/* Buttons */
.button-success,
.button-error,
.button-warning,
.button-secondary {
	color: white;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
	background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
	background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
	background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
	background: rgb(66, 184, 221); /* this is a light blue */
}


/* Left Menu, copied from purecss.io :( */
#menu {
	width: 180px;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 1000;
	background: #191818;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
#menu a {
	color: #999;
	border: none;
	white-space: normal;
	padding: 0.625em 1em;
}

#menu .pure-menu-open {
	background: transparent;
	border: 0;
}

#menu .pure-menu ul {
	border: none;
	background: transparent;
}

#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided {
	border-top: 1px solid #333;
}

#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus {
background: #333;
}

.menu-link {
	position: fixed;
	display: block; /* show this only on small screens */
	top: 0;
	left: 0; /* "#menu width" */
	background: #000;
	background: rgba(0,0,0,0.7);
	font-size: 11px; /* change this value to increase/decrease button size */
	z-index: 10;
	width: 4em;
	height: 4em;
	padding: 1em;
}

.menu-link:hover,
.menu-link:focus {
	background: #000;
}

.menu-link span {
	position: relative;
	display: block;
	margin-top: 0.9em;
}

.menu-link span,
.menu-link span:before,
.menu-link span:after {
background-color: #fff;
	width: 100%;
	height: .2em;
}

.menu-link span:before,
.menu-link span:after {
		position: absolute;
		top: -.55em;
		content: " ";
}

.menu-link span:after {
	top: .55em;
}

.menu-link.active span {
	background: transparent;
}

.menu-link.active span:before {
	-webkit-transform: rotate(45deg) translate(.5em, .4em);
	   -moz-transform: rotate(45deg) translate(.5em, .4em);
		-ms-transform: rotate(45deg) translate(.5em, .4em);
		 -o-transform: rotate(45deg) translate(.5em, .4em);
			transform: rotate(45deg) translate(.5em, .4em);
}

.menu-link.active span:after {
	-webkit-transform: rotate(-45deg) translate(.4em, -.3em);
	   -moz-transform: rotate(-45deg) translate(.4em, -.3em);
		-ms-transform: rotate(-45deg) translate(.4em, -.3em);
		 -o-transform: rotate(-45deg) translate(.4em, -.3em);
			transform: rotate(-45deg) translate(.4em, -.3em);
}

#menu .pure-menu-heading {
	font-size: 125%;
	font-weight: 300;
	letter-spacing: 0.1em;
	color: #fff;
	margin-top: 0;
	padding: 0.5em 0.8em;
}
#menu .pure-menu-heading:hover,
#menu .pure-menu-heading:focus {
	color: #999;
}

#menu .pure-menu-selected {
	background: #1f8dd6;
}

#menu .pure-menu-selected a {
	color: #fff;
}

#menu li.pure-menu-selected a:hover,
#menu li.pure-menu-selected a:focus {
	background: none;
}


/* Content */

.content {
	margin-left: 200px;
}