
/* BTN
   ============================= */

.btn {

	position: relative;
	
	display: inline-block;
	width: 160px;
	height: 35px;
	margin: 10px;

	background-color: transparent;
	cursor: pointer;
	border: none;
	text-transform: uppercase;
	text-align: center;
	line-height: 35px;

	overflow: hidden;

	@include font-title(16px);
	@include border-radius(3px);
	@include user-select;

}

.btn.disabled {

	cursor: default;

}