
/* RAISED BTN
   ============================= */

.btn--raised {
	
	background-color: #e2e2e2;

	@include transition(#{".15s"});

	@include z-depht(1);
	
}

.btn--raised:hover,
.btn--raised:focus {

	outline: none;

	@include transition(#{".25s"});

	@include z-depht(2);

}

.btn--raised:hover {

	background-color: lighten(#e2e2e2, 2);

}

.btn--raised:active {

	background-color: #e2e2e2;

	@include transition(#{".2s"});

	@include z-depht(1);

}

@each $name, $color in $colors {

	.btn--raised.btn--#{$name} {

		background-color: $color;

	}

	@if $name != yellow {

		.btn--raised.btn--#{$name} {

			color: white;

		}

		.btn--raised.btn--#{$name} .ripple {

			background-color: white;

		}

	}

}

.btn--raised.disabled {
	
	color: $grey;
	background-color: $light-grey;

	@include z-depht(0);

}

.btn--raised.disabled:hover {
	
	@include z-depht(0);

}