
/* TOP RIGHT HEADER SEARCH FORM
   ============================= */

.header .top .inner .right form {

	display: inline-block;
	margin-right: -3px;

	border-left: 1px solid $nav_borders;
	border-right: 1px solid $nav_borders;
	
	input[type="text"] {

		width: 150px;
		height: 58px;
		border: 0;
		padding-left: 20px;

		background-color: $nav_background;
		color: $nav_texts;

		@media (max-width: 450px) {

			width: 100px;
			padding-left: 10px;

		}

		@media (max-width: 350px) {

			width: 50px;
			padding-left: 5px;

		}

	}

	@mixin header-input-placeholder() {

		position: relative;

		color: white;
		font-style: italic;
		font-size: 14px;
		font-family: "Source Sans Pro", Arial;

	}

	input[type="text"]::-webkit-input-placeholder { @include header-input-placeholder(); }
	   input[type="text"]::-moz-input-placeholder { @include header-input-placeholder(); }
		input[type="text"]::-ms-input-placeholder { @include header-input-placeholder(); }
		 input[type="text"]::-o-input-placeholder { @include header-input-placeholder(); }
			input[type="text"]::input-placeholder { @include header-input-placeholder(); }

	input[type="submit"] {

		position: relative;
		right: 5px;
		
		height: 30px;
		width: 30px;
		margin-top: 15px;

		background-color: transparent;
		background-image: url(../img/search_icon.png);
		background-repeat: no-repeat;
		background-position: center center;
		border: none;
		vertical-align: top;
		cursor: pointer;

	}

	input[type="submit"]:focus,
	input[type="text"  ]:focus { outline: none; }

}