.form:not(.no-style) {

	width: 100%;
	margin: 0 auto 30px auto;
	padding: 15px;
	
	color: #858484;
	background-color: #f1f0f0;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		 -o-box-sizing: border-box;
			box-sizing: border-box;

	-webkit-box-shadow: 1px 2px 0px #e2e2e2;
	   -moz-box-shadow: 1px 2px 0px #e2e2e2;
		-ms-box-shadow: 1px 2px 0px #e2e2e2;
		 -o-box-shadow: 1px 2px 0px #e2e2e2;
			box-shadow: 1px 2px 0px #e2e2e2;

}

.form.middle {

	margin-left: auto;
	margin-right: auto;
	max-width: 600px;

}

.form {

	.preview {
		float: left;

		height: 60px;
		margin-top: -3px;
		margin-right: 10px;

		cursor: pointer;

		&.none { margin: 0; }
	}

	input:not([type="checkbox"]) {
		display: block;
	    width: 100%;
	    height: 40px;
		margin: 5px 0;
	    padding: 8px;

		border: none;

		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			 -o-box-sizing: border-box;
				box-sizing: border-box;

		&:focus,
		&:active { outline: none; }
	}

	input:not([type="checkbox"]),
	textarea,
	select {
		display: block;
	    width: 100%;
	    height: 40px;
		margin: 10px 0 15px 0;
	    padding: 8px;
	
		border: none;
		font-family: Arial;

		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			 -o-box-sizing: border-box;
				box-sizing: border-box;
	
		&:focus,
		&:active { outline: none; }
	}
	
	textarea {
		resize: vertical;
	    height: 80px;
	}

	input[type="submit"] {
	    color: white;
	    background-color: #40a6e0;
	    cursor: pointer;

	    &:focus,
	    &:active,
	    &:hover  { background-color: lighten(#40a6e0, 3); }

	    &:active { background-color:  darken(#40a6e0, 3); }
	}

	label i { margin-left: -190px; }

	input[type="file"] {
		position: relative;
		float: left;

		width: 200px;
		margin: 13px 0 25px -5px;
		cursor: pointer;

		+ * { clear: both; }

		&:before {
		    position: relative;
		    bottom: 0;
		    right: 0;

		    display: block;
		    margin-left: -2px;
		    padding: 10px 10px 10px 40px;

		    content: attr(data-text);
		    background: #dddddd;
		}

		&:after {
			position: absolute;
			top: 18px;
			left: 15px;

			display: block;
			width: 20px;
			height: 17px;

			content: "";
			background: url(../img/upload.png);
		}
	}

	input[type="checkbox"] {
		position: relative;
		top: -5px;

		width: 25px;
		margin: 10px 5px 15px 10px;
		cursor: pointer;

		&.for-checkbox-dependence {

			float: left;

			margin-top: 0;

		}

		&:before {
		    position: relative;
		    bottom: 0;
		    right: 0;

		    display: block;
		    margin-left: -2px;
		    padding: 12px 0px 13px 5px;

		    content: "";
		    background: #dddddd;
		}

		&:after {
			position: absolute;
			top: 4px;
			left: 3px;

			display: block;
			width: 16px;
			height: 16px;

			content: "";
			opacity: 0;
			background-image: url(../img/checked.png);

			@media (min-width: 640px) {
				-webkit-transition: 0.1s;
				   -moz-transition: 0.1s;
					-ms-transition: 0.1s;
					 -o-transition: 0.1s;
						transition: 0.1s;
			}
		}

		&:checked:before,
		&:hover:before,
		&[disabled]:checked:before { opacity: 1; }

		&:hover:after   { opacity: 0.1; }
		&:checked:after { opacity: 1; }

		&[disabled] { cursor: default; }
		
	}

	input[type="checkbox"] + label,
	label + input[type="checkbox"] {

		cursor: pointer;

	}

	label.checkbox-dependence {

		opacity: 0.2;

		input {

			opacity: 0.2;

		}

	}

	input:checked + label.checkbox-dependence {

		opacity: 1;

		input {

			opacity: 1;

		}

	}

}