.moderating-commands {
	text-align: center;

	button {
		width: 21%;
		height: 40px;
		margin: 1.5%;

		font-family: "Source Sans Pro", Arial;
		font-size: 17px;
		color: white;
		border: none;
		cursor: pointer;

		&:active,
		&:focus { outline: none; }

		@media (max-width: 1050px) { width: 44%; }
		@media (max-width:  600px) { width: 96%; }

		&.big {
			width: 50%;

			@media (max-width: 600px) { width: 96%; }
		}

		&.blue {
			background: #40A6E0;

			&:hover  { background: lighten(#40A6E0, 5%);}
			&:active { background:  darken(#40A6E0, 5%);}
		}

		&.orange {
			background: #FC7F3C;

			&:hover  { background: lighten(#FC7F3C, 5%);}
			&:active { background:  darken(#FC7F3C, 5%);}
		}

		&.red {
			background: #E70739;

			&:hover  { background: lighten(#E70739, 5%);}
			&:active { background:  darken(#E70739, 5%);}
		}
	}
}