nav.tabs {

	margin: 20px 0 20px 0;
	
	ul {

		margin-left: 1%;
		margin-right: 1%;

		li {

			display: inline-block;
			width: 15%;
			height: 25px;
			padding-top: 10px;
			margin-bottom: 16px;
			
			text-align: center;

			a {

				color: #40a6e0;
				font-size: 20px;

			}

			&:after {
				position: relative;
				bottom: -4px;
				left: 0;

				display: block;
				width: 0%;
				height: 4px;
				margin: auto;

				background: #40A6E0;
				opacity: 0;
				content: "";

				@include transition(.15s);

			}

			&:hover:after,
			&.current:after {

				width: 100%;
				opacity: 1;

			}
	
			margin-left: 2%;

		}

	}

	&:not(.four) {

		ul > li {

			@media (max-width: 1000px) { width: 25%; }
			@media (max-width: 600px)  { width: 30%; }

			@media (max-width: 500px)  {

				width: 95%;
				margin-bottom: 20px;

				&:hover:after,
				&.current:after {

					width: 70%!important;

				}

			}

		}

	}

	&.four {

		ul > li {

			@media (max-width: 1000px) { width: 20%; }

			@media (max-width: 800px)  {

				width: 95%;
				margin-bottom: 20px;

				&:hover:after,
				&.current:after {

					width: 50%!important;

				}

			}

			@media (max-width: 500px)  {

				&:hover:after,
				&.current:after {

					width: 70%!important;

				}

			}

		}

	}

}