#upload-large-modal {
	position: relative;

	height: 500px;
	margin: auto;
	margin-bottom: 40px;

	#backgroundLoader {
		position: absolute;
		top: 0;
		left: 0;

		display: inline-block;
		width: 100%;
		height: 100%;

		background-position: center;
	
		-webkit-background-size: cover;
		   -moz-background-size: cover;
			-ms-background-size: cover;
			 -o-background-size: cover;
				background-size: cover;
	}

	#message-upload {
		position: relative;
		top: 50px;

		width: 100%;
		height: 70px;
		max-width: 1000px;
		margin: auto;

		background: #{'rgba(107, 186, 231, 0.8)'};
		color: white;
		text-align: center;
		cursor: default;

		h3 {
			position: relative;
			top: 10px;
			font-size: 28px;

			@media (max-width: 800px) { display: none; }
		}

		p {
			position: relative;
			top: 15px;
			font-size: 18px;

			@media (max-width: 800px) {
				top: 22px;
				font-size: 20px;
			}

			@media (max-width: 550px) {
				top: 13px;
				font-size: 20px;
			}
		}
	}

	#uploader {
		position: relative;
		top: 50px;

		width: 100%;
		height: 330px;
		max-width: 1000px;
		margin: auto;

		background: #{'rgba(255, 255, 255, 0.5)'};

		input[type="file"] {
			position: absolute;
			top: 0;
			left: -5000px;
			z-index: 300;

			display: block;
			width: 10000px;
			height: 100%;

			font-size: 350px;
			opacity: 0;
			cursor: pointer;
		}

		#file-name {
			position: absolute;
			bottom: 20px;
			left: 0;

			display: block;
			width: 100%;

			font-size: 40px;
			color: #555;
			font-weight: bold;
			text-align: center;
		}
	}

	#progress-upload {
		position: absolute;
		bottom: -30px;
		left: 0;

		width: 100%;
		height: 30px;
		overflow: hidden;

		#progress-bar {
			position: relative;

			width: 0;
			height: 100%;

			background: #40a6e0;

			-webkit-transition: 0.5s;
			   -moz-transition: 0.5s;
				-ms-transition: 0.5s;
				 -o-transition: 0.5s;
					transition: 0.5s;

			&[data-restant]:before {
				position: absolute;
				right: 10px;
				bottom: 0;
				float: left;

				display: block;
				width: 100%;
				height: 30px;

				content: attr(data-percent);
				color: white;
				text-align: right;
				font-size: 22px;
				line-height: 30px;
			}

			&[data-percent]:after {
				position: absolute;
				left: 100%;
				top: 0;

				display: block;
				width: 600px;
				height: 30px;
				margin-left: 10px;

				content: attr(data-restant);
				color: #40a6e0;
				font-size: 25px;
				line-height: 32px;
			}
		}
	}
}