.content.wide {
	position: relative;

	width: 100%;
	max-width: 100%;
	height: 500px;
	margin: auto;

	#background-wide {
		position: absolute;
		top: 0;
		left: 0;

		display: inline-block;
		width: 100%;
		height: 100%;

		background-position: center;
	
		-webkit-background-size: cover;
		   -moz-background-size: cover;
			-ms-background-size: cover;
			 -o-background-size: cover;
				background-size: cover;
	}

	.inner {
		position: relative;
		top: 50px;

		width: 100%;
		height: 400px;
		max-width: 1000px;
		margin: auto;

		background: #{'rgba(255, 255, 255, 0.5)'};
	}
}