html,
body {
	height: 100%;
}

#chat{
	position: absolute;
	top: 0px;
	bottom: 50px;
	left: 0;
	right: 0;
	background-color: rgb(228,228,228);
	overflow-y: auto;
	padding: 0 5px 0 5px;
}

#chat .message{
	float: left;
	width: 95%;
	background-color: rgb(63, 166, 223);
	border-bottom: #33799f solid 2px;
	padding: 3px;
	margin-bottom: 5px;
	word-break:break-all;
	word-wrap:break-word;
}

.no-padding-left{ padding-left: 0}
.no-padding-right{ padding-right: 0}

#chat .me{
	float: right;
}

#chat .message .avatar{
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

#chat .message .pseudo{
	display: inline-block;
	padding-left: 5px;
	border-left: 1px solid;
	border-left-color: rgb(128,128,128);
}

#chat .message .pseudo:after{
	content: ':\0020'
}

#chat .message .text{
	display: inline-block;
	/*text-indent: 32px;*/
}

#send{
	width: 100%;
	height:	50px;
	background-color: #33799f;
	position: absolute;
	bottom: 0;
}

#send input{
	float: left;
	margin-left: 5%;
	margin-top: 6px;
	width: 90%;
}

#send input[type="submit"]{
	float: right;
	margin-right: 5%;
	margin-top: 7px;
	width: 90%;
}