/*
 *	Style
 */
/* line 5, ../../scss/partials/player.scss */
#player {
  position: relative;
  overflow: hidden;
  background: black;
  width: 640px;
  padding: 0;
  float: left;
  height: auto;
  box-shadow: 1px 2px 0 #e2e2e2;
  z-index: 1;
}

@media all and (max-width: 700px) {
  /* line 17, ../../scss/partials/player.scss */
  #player {
    width: 100%;
  }
}
/* line 21, ../../scss/partials/player.scss */
#player.animated {
  -webkit-transition: height, width 0.4s;
  -moz-transition: height, width 0.4s;
  -ms-transition: height, width 0.4s;
  -o-transition: height, width 0.4s;
  transition: height, width 0.4s;
}

/* line 28, ../../scss/partials/player.scss */
#player.wide {
  width: 100%;
  height: auto!important;
}

/* line 32, ../../scss/partials/player.scss */
#player:-webkit-full-screen {
  margin: 0!important;
  top: 0!important;
  left: 0!important;
  width: 100%!important;
  height: 100%!important;
}

/* line 39, ../../scss/partials/player.scss */
#player:-webkit-full-screen > #controls, #player:-webkit-full-screen > #controls > #progress {
  width: 100%;
}

/* line 43, ../../scss/partials/player.scss */
video {
  width: 100%;
  height: 100%;
}

/*
 *	Bouton repeat (à la fin)
 */
@-webkit-keyframes rotate {
  /* line 53, ../../scss/partials/player.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 54, ../../scss/partials/player.scss */
  to {
    -webkit-transform: rotate(-360deg);
  }
}

@-moz-keyframes rotate {
  /* line 57, ../../scss/partials/player.scss */
  from {
    -moz-transform: rotate(0deg);
  }

  /* line 58, ../../scss/partials/player.scss */
  to {
    -moz-transform: rotate(-360deg);
  }
}

@-ms-keyframes rotate {
  /* line 61, ../../scss/partials/player.scss */
  from {
    -ms-transform: rotate(0deg);
  }

  /* line 62, ../../scss/partials/player.scss */
  to {
    -ms-transform: rotate(-360deg);
  }
}

@-o-keyframes rotate {
  /* line 65, ../../scss/partials/player.scss */
  from {
    -o-transform: rotate(0deg);
  }

  /* line 66, ../../scss/partials/player.scss */
  to {
    -o-transform: rotate(-360deg);
  }
}

@keyframes rotate {
  /* line 69, ../../scss/partials/player.scss */
  from {
    transform: rotate(0deg);
  }

  /* line 70, ../../scss/partials/player.scss */
  to {
    transform: rotate(-360deg);
  }
}

/* line 72, ../../scss/partials/player.scss */
#repeat {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  overflow: hidden;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -ms-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}

/* line 89, ../../scss/partials/player.scss */
#repeat.show {
  opacity: 1;
  width: 100%;
  height: 100%;
}

@media all and (min-width: 640px) {
  /* line 95, ../../scss/partials/player.scss */
  #repeat.show {
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }
}
/* line 103, ../../scss/partials/player.scss */
#repeat > .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 128px;
  height: 128px;
  margin-top: -64px;
  margin-left: -64px;
  background-image: url(../img/player/repeat.png);
}

@media all and (min-width: 640px) {
  /* line 114, ../../scss/partials/player.scss */
  #repeat > .icon {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: rotate 20s linear 0s;
    -moz-animation: rotate 20s linear 0s;
    -ms-animation: rotate 20s linear 0s;
    -o-animation: rotate 20s linear 0s;
    animation: rotate 20s linear 0s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
}
/*
 *	Sélection de qualité
 */
/* line 137, ../../scss/partials/player.scss */
#qualitySelection {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  overflow: hidden;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -ms-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}

/* line 153, ../../scss/partials/player.scss */
#qualitySelection.show {
  opacity: 1;
  width: 100%;
  height: 100%;
}

@media all and (min-width: 640px) {
  /* line 159, ../../scss/partials/player.scss */
  #qualitySelection.show {
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }
}
/* line 167, ../../scss/partials/player.scss */
#qualitySelection > * {
  position: absolute;
  top: 40%;
  padding-top: 110px;
  width: 205px;
  height: 100px;
  margin-left: -100px;
  margin-top: -50px;
  cursor: pointer;
  text-align: center;
  color: white;
  font-size: 35px;
  font-family: 'Source Sans Pro';
  background-repeat: no-repeat;
}

/* line 182, ../../scss/partials/player.scss */
#qualitySelection[data-number="3"] > *:nth-child(-n+2) {
  top: 30%;
}

/* line 185, ../../scss/partials/player.scss */
#qualitySelection > #q1 {
  left: 30%;
}

/* line 188, ../../scss/partials/player.scss */
#qualitySelection > #q2 {
  left: 70%;
}

/* line 191, ../../scss/partials/player.scss */
#qualitySelection > #q3 {
  left: 50%;
  top: 70%;
}

/* line 195, ../../scss/partials/player.scss */
#qualitySelection > *[data-format="360"] {
  background-image: url(../img/player/cloudQ1.png);
}

/* line 198, ../../scss/partials/player.scss */
#qualitySelection > *[data-format="720"] {
  background-image: url(../img/player/cloudQ2.png);
}

/* line 201, ../../scss/partials/player.scss */
#qualitySelection[data-number="1"] > *[data-format="720"], #qualitySelection[data-number="2"] > *[data-format="720"] {
  background-image: url(../img/player/cloudQ2lisse.png);
}

/* line 204, ../../scss/partials/player.scss */
#qualitySelection > *[data-format="1080"] {
  background-image: url(../img/player/cloudQ3.png);
}

@media all and (max-width: 550px) {
  /* line 208, ../../scss/partials/player.scss */
  #qualitySelection > * {
    width: 154px;
    height: 75px;
    margin-left: -77px;
    margin-top: -38px;
    background-size: 103px 50px;
  }

  /* line 215, ../../scss/partials/player.scss */
  #qualitySelection > *[data-format="360"] {
    background-image: url(../img/player/cloudQ1m.png);
  }

  /* line 218, ../../scss/partials/player.scss */
  #qualitySelection > *[data-format="720"] {
    margin-left: -50px;
    background-image: url(../img/player/cloudQ2m.png);
  }

  /* line 222, ../../scss/partials/player.scss */
  #qualitySelection[data-number="1"] > *[data-format="720"], #qualitySelection[data-number="2"] > *[data-format="720"] {
    background-image: url(../img/player/cloudQ2lisse.png);
  }

  /* line 225, ../../scss/partials/player.scss */
  #qualitySelection > *[data-format="1080"] {
    background-image: url(../img/player/cloudQ3m.png);
  }
}
/*
 *	Gros icones animés (play et pause)
 */
@-webkit-keyframes bigIconPlay {
  /* line 235, ../../scss/partials/player.scss */
  from {
    top: 53%;
    opacity: 0;
    width: 128px;
  }

  /* line 236, ../../scss/partials/player.scss */
  10% {
    opacity: 1;
  }

  /* line 237, ../../scss/partials/player.scss */
  60% {
    opacity: 1;
  }

  /* line 238, ../../scss/partials/player.scss */
  to {
    top: 47%;
    opacity: 0;
    width: 128px;
  }
}

@-moz-keyframes bigIconPlay {
  /* line 241, ../../scss/partials/player.scss */
  from {
    top: 53%;
    opacity: 0;
    width: 128px;
  }

  /* line 242, ../../scss/partials/player.scss */
  10% {
    opacity: 1;
  }

  /* line 243, ../../scss/partials/player.scss */
  60% {
    opacity: 1;
  }

  /* line 244, ../../scss/partials/player.scss */
  to {
    top: 47%;
    opacity: 0;
    width: 128px;
  }
}

@-ms-keyframes bigIconPlay {
  /* line 247, ../../scss/partials/player.scss */
  from {
    top: 53%;
    opacity: 0;
    width: 128px;
  }

  /* line 248, ../../scss/partials/player.scss */
  10% {
    opacity: 1;
  }

  /* line 249, ../../scss/partials/player.scss */
  60% {
    opacity: 1;
  }

  /* line 250, ../../scss/partials/player.scss */
  to {
    top: 47%;
    opacity: 0;
    width: 128px;
  }
}

@-o-keyframes bigIconPlay {
  /* line 253, ../../scss/partials/player.scss */
  from {
    top: 53%;
    opacity: 0;
    width: 128px;
  }

  /* line 254, ../../scss/partials/player.scss */
  10% {
    opacity: 1;
  }

  /* line 255, ../../scss/partials/player.scss */
  60% {
    opacity: 1;
  }

  /* line 256, ../../scss/partials/player.scss */
  to {
    top: 47%;
    opacity: 0;
    width: 128px;
  }
}

@keyframes bigIconPlay {
  /* line 259, ../../scss/partials/player.scss */
  from {
    top: 44%;
    opacity: 0;
    width: 128px;
  }

  /* line 260, ../../scss/partials/player.scss */
  10% {
    opacity: 1;
  }

  /* line 261, ../../scss/partials/player.scss */
  60% {
    opacity: 1;
  }

  /* line 262, ../../scss/partials/player.scss */
  to {
    top: 47%;
    opacity: 0;
    width: 128px;
  }
}

/* line 264, ../../scss/partials/player.scss */
#bigPlay, #bigPause {
  position: absolute;
  left: 50%;
  width: 0;
  height: 128px;
  margin-top: -64px;
  margin-left: -64px;
  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  -ms-animation-duration: 0.3s;
  -o-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

@media all and (max-width: 640px) {
  /* line 284, ../../scss/partials/player.scss */
  #bigPlay, #bigPause {
    width: 0;
    height: 0;
  }
}
/* line 289, ../../scss/partials/player.scss */
#bigPlay {
  background-image: url(../img/player/bigPlay.png);
}

@-webkit-keyframes bigIconPause {
  /* line 293, ../../scss/partials/player.scss */
  from {
    top: 47%;
    opacity: 0;
    width: 128px;
  }

  /* line 294, ../../scss/partials/player.scss */
  10% {
    opacity: 1;
  }

  /* line 295, ../../scss/partials/player.scss */
  60% {
    opacity: 1;
  }

  /* line 296, ../../scss/partials/player.scss */
  to {
    top: 53%;
    opacity: 0;
    width: 128px;
  }
}

@-moz-keyframes bigIconPause {
  /* line 299, ../../scss/partials/player.scss */
  from {
    top: 47%;
    opacity: 0;
    width: 128px;
  }

  /* line 300, ../../scss/partials/player.scss */
  10% {
    opacity: 1;
  }

  /* line 301, ../../scss/partials/player.scss */
  60% {
    opacity: 1;
  }

  /* line 302, ../../scss/partials/player.scss */
  to {
    top: 53%;
    opacity: 0;
    width: 128px;
  }
}

@-ms-keyframes bigIconPause {
  /* line 305, ../../scss/partials/player.scss */
  from {
    top: 47%;
    opacity: 0;
    width: 128px;
  }

  /* line 306, ../../scss/partials/player.scss */
  10% {
    opacity: 1;
  }

  /* line 307, ../../scss/partials/player.scss */
  60% {
    opacity: 1;
  }

  /* line 308, ../../scss/partials/player.scss */
  to {
    top: 53%;
    opacity: 0;
    width: 128px;
  }
}

@-o-keyframes bigIconPause {
  /* line 311, ../../scss/partials/player.scss */
  from {
    top: 47%;
    opacity: 0;
    width: 128px;
  }

  /* line 312, ../../scss/partials/player.scss */
  10% {
    opacity: 1;
  }

  /* line 313, ../../scss/partials/player.scss */
  60% {
    opacity: 1;
  }

  /* line 314, ../../scss/partials/player.scss */
  to {
    top: 53%;
    opacity: 0;
    width: 128px;
  }
}

@keyframes bigIconPause {
  /* line 317, ../../scss/partials/player.scss */
  from {
    top: 47%;
    opacity: 0;
    width: 128px;
  }

  /* line 318, ../../scss/partials/player.scss */
  10% {
    opacity: 1;
  }

  /* line 319, ../../scss/partials/player.scss */
  60% {
    opacity: 1;
  }

  /* line 320, ../../scss/partials/player.scss */
  to {
    top: 53%;
    opacity: 0;
    width: 128px;
  }
}

/* line 322, ../../scss/partials/player.scss */
#bigPause {
  background-image: url(../img/player/bigPause.png);
}

/*
 *	Barre des controles
 */
/* line 330, ../../scss/partials/player.scss */
#controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 32px;
  display: block;
  background-color: #40a6e0;
  color: white;
  font-family: 'Source Sans Pro';
}

@media all and (min-width: 640px) {
  /* line 341, ../../scss/partials/player.scss */
  #controls {
    -webkit-transition: bottom 0.3s;
    -moz-transition: bottom 0.3s;
    -ms-transition: bottom 0.3s;
    -o-transition: bottom 0.3s;
    transition: bottom 0.3s;
  }
}
/* line 349, ../../scss/partials/player.scss */
#controls.down {
  bottom: -40px;
}

/* line 352, ../../scss/partials/player.scss */
#controls > * {
  margin: 0;
}

/*
 *	Barre de progression
 */
/* line 360, ../../scss/partials/player.scss */
#progress {
  display: inline-block;
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  bottom: 10px;
  width: 100%;
  height: 10px;
}

/* line 368, ../../scss/partials/player.scss */
#controls.down > #progress, #controls.down > #progress > #buffered {
  background-color: rgba(255, 255, 255, 0);
}

@media all and (min-width: 640px) {
  /* line 372, ../../scss/partials/player.scss */
  #progress > * {
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
}
/* line 380, ../../scss/partials/player.scss */
#progress.clicking > * {
  -webkit-transition: 0;
  -moz-transition: 0;
  -ms-transition: 0;
  -o-transition: 0;
  transition: 0;
}

/* line 387, ../../scss/partials/player.scss */
#progress > #buffered {
  display: block;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}

/* line 393, ../../scss/partials/player.scss */
#progress > #viewed {
  display: block;
  width: 0;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.6);
  position: relative;
  bottom: 100%;
}

/* line 401, ../../scss/partials/player.scss */
#controls.down > #progress > #viewed {
  background-color: #40a6e0;
}

/* line 405, ../../scss/partials/player.scss */
#progress > #current {
  display: inline-block;
  position: relative;
  bottom: 23px;
  left: 0;
  margin-left: -10px;
  width: 20px;
  height: 100%;
  cursor: pointer;
  background: white;
}

/* line 416, ../../scss/partials/player.scss */
#controls.down > #progress > #current {
  opacity: 0;
}

/*
 *	Petit bouton play/pause
 */
/* line 424, ../../scss/partials/player.scss */
#play-pause {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

/* line 432, ../../scss/partials/player.scss */
#play-pause:before, #play-pause:after {
  content: "";
  display: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-position: 5px 5px;
  background-repeat: no-repeat;
}

/* line 441, ../../scss/partials/player.scss */
#play-pause:before {
  background-image: url(../img/player/play.png);
}

/* line 444, ../../scss/partials/player.scss */
#play-pause:after {
  background-image: url(../img/player/pause.png);
}

/* line 447, ../../scss/partials/player.scss */
#play-pause.play:before {
  display: block;
}

/* line 450, ../../scss/partials/player.scss */
#play-pause.pause:after {
  display: block;
}

/*
 *	Indication du temps
 */
/* line 458, ../../scss/partials/player.scss */
#time {
  position: absolute;
  bottom: 7px;
  left: 37px;
  font-size: 15px;
  cursor: default;
}

/*
 *	Bouton pour "toogle" les annotations
 */
/* line 470, ../../scss/partials/player.scss */
#annotationsButton {
  display: inline-block;
  width: 28px;
  height: 32px;
  position: absolute;
  bottom: -1px;
  right: 172px;
  cursor: pointer;
  background-image: url(../img/player/annotation.png);
  background-position: 0 5px;
  background-repeat: no-repeat;
}

/* line 483, ../../scss/partials/player.scss */
#annotationsButton:hover {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  opacity: 0.7;
}

/* line 491, ../../scss/partials/player.scss */
#annotationsButton.not {
  opacity: 0.3;
}

@media all and (max-width: 300px) {
  /* line 496, ../../scss/partials/player.scss */
  #annotationsButton {
    display: none!important;
  }
}
/*
 *	Bouton pour régler la qualité
 */
/* line 505, ../../scss/partials/player.scss */
#qualityButton {
  position: absolute;
  bottom: 7px;
  right: 155px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

/* line 513, ../../scss/partials/player.scss */
#qualityButton.bold {
  text-shadow: 0 0 3px white;
}

/*
 *	Volume
 */
/* line 521, ../../scss/partials/player.scss */
#volume {
  position: absolute;
  bottom: 14px;
  right: 88px;
  width: 60px;
  height: 4px;
  cursor: pointer;
  background-color: #cccccc;
  border-radius: 2px;
}

/* line 531, ../../scss/partials/player.scss */
#volume > #barre {
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 2px;
}

/* line 538, ../../scss/partials/player.scss */
#volume > #icon {
  display: inline-block;
  position: relative;
  bottom: 10px;
  left: 100%;
  margin-left: -3px;
  width: 21px;
  height: 16px;
  background-image: url(../img/player/volume.png);
  background-repeat: no-repeat;
  background-position: -63px 0;
  cursor: pointer;
}

/* line 551, ../../scss/partials/player.scss */
#volume > #icon[data-volume="0"] {
  background-position: 0 0;
}

/* line 554, ../../scss/partials/player.scss */
#volume > #icon[data-volume="1"] {
  background-position: -21px 0;
}

/* line 557, ../../scss/partials/player.scss */
#volume > #icon[data-volume="2"] {
  background-position: -42px 0;
}

/* line 560, ../../scss/partials/player.scss */
#volume > #icon[data-volume="3"] {
  background-position: -63px 0;
}

/*
 *	Séparation
 */
/* line 568, ../../scss/partials/player.scss */
#separation {
  display: block;
  position: absolute;
  bottom: 6px;
  right: 68px;
  width: 1px;
  height: 20px;
  background-color: white;
  opacity: 0.5;
}

/*
 *	Widescreen
 */
/* line 583, ../../scss/partials/player.scss */
#widescreen {
  position: absolute;
  bottom: 0;
  right: 32px;
  width: 28px;
  height: 32px;
  cursor: pointer;
}

/* line 591, ../../scss/partials/player.scss */
#widescreen:before, #widescreen:after {
  content: "";
  display: none;
  width: 28px;
  height: 32px;
  cursor: pointer;
  background-position: 0 8px;
  background-repeat: no-repeat;
}

/* line 600, ../../scss/partials/player.scss */
#widescreen:before {
  background-image: url(../img/player/widescreen.png);
}

/* line 603, ../../scss/partials/player.scss */
#widescreen:after {
  background-image: url(../img/player/smallscreen.png);
}

/* line 606, ../../scss/partials/player.scss */
#widescreen.widescreen:before {
  display: block;
}

/* line 609, ../../scss/partials/player.scss */
#widescreen.smallscreen:after {
  display: block;
}

@media all and (max-width: 700px) {
  /* line 613, ../../scss/partials/player.scss */
  #widescreen {
    display: none;
  }

  /* line 616, ../../scss/partials/player.scss */
  #volume {
    right: 50px;
  }

  /* line 619, ../../scss/partials/player.scss */
  #separation {
    right: 30px;
  }

  /* line 622, ../../scss/partials/player.scss */
  #qualityButton {
    right: 116px;
  }

  /* line 625, ../../scss/partials/player.scss */
  #annotationsButton {
    right: 136px;
  }
}
/*
 *	Fullscreen
 */
/* line 634, ../../scss/partials/player.scss */
#fullscreen {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 28px;
  height: 32px;
  cursor: pointer;
}

/* line 642, ../../scss/partials/player.scss */
#fullscreen:before, #fullscreen:after {
  content: "";
  display: none;
  width: 28px;
  height: 32px;
  cursor: pointer;
  background-position: 4px 8px;
  background-repeat: no-repeat;
}

/* line 651, ../../scss/partials/player.scss */
#fullscreen:before {
  background-image: url(../img/player/fullscreen.png);
}

/* line 654, ../../scss/partials/player.scss */
#fullscreen:after {
  background-image: url(../img/player/lowscreen.png);
}

/* line 657, ../../scss/partials/player.scss */
#fullscreen.fullscreen:before {
  display: block;
}

/* line 660, ../../scss/partials/player.scss */
#fullscreen.lowscreen:after {
  display: block;
}

/*
 *	Annotations
 */
/* line 668, ../../scss/partials/player.scss */
#annotationsElement {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 0;
}

/* line 677, ../../scss/partials/player.scss */
#annotationsElement.hide {
  opacity: 0;
}

/* line 681, ../../scss/partials/player.scss */
.annotation {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px 0 10px;
  position: absolute;
  cursor: default;
  display: table-cell;
  vertical-align: middle;
  color: white;
  font-family: 'Source Sans Pro';
  font-size: 30px;
  text-align: center;
  background-color: rgba(64, 166, 224, 0.5);
}

/* line 699, ../../scss/partials/player.scss */
.annotation > p, .annotation > a {
  margin: 15px 0 15px 0;
}

/* line 702, ../../scss/partials/player.scss */
.annotation > a {
  color: white;
  text-decoration: none;
  display: block;
}

/* line 707, ../../scss/partials/player.scss */
.annotation > .close {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: -10px;
  right: -10px;
  background-image: url(../img/player/close.png);
  background-repeat: no-repeat;
  background-position: 5px 5px;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/* line 726, ../../scss/partials/player.scss */
.annotation:hover > .close {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  opacity: 0.5;
}

/* line 734, ../../scss/partials/player.scss */
.annotation > .close:hover {
  opacity: 1;
}

/* line 737, ../../scss/partials/player.scss */
.annotation.hidden {
  display: none;
}

/* line 741, ../../scss/partials/player.scss */
.annotation.orange {
  background-color: rgba(223, 109, 20, 0.5);
}

/* line 743, ../../scss/partials/player.scss */
.annotation.yellow {
  background-color: rgba(255, 255, 0, 0.5);
}

/* line 745, ../../scss/partials/player.scss */
.annotation.pink {
  background-color: rgba(253, 63, 146, 0.5);
}

/* line 747, ../../scss/partials/player.scss */
.annotation.red {
  background-color: rgba(235, 0, 0, 0.5);
}

/* line 749, ../../scss/partials/player.scss */
.annotation.green {
  background-color: rgba(158, 253, 56, 0.5);
}

/* line 751, ../../scss/partials/player.scss */
.annotation.purple {
  background-color: rgba(102, 0, 153, 0.5);
}

/* line 755, ../../scss/partials/player.scss */
.annotation.white {
  background-color: rgba(255, 255, 255, 0.5);
  color: #1E1E1E;
}

/* line 758, ../../scss/partials/player.scss */
.annotation.black {
  background-color: rgba(0, 0, 0, 0.5);
}
