
/* FONT LOADER
   ============================= */

@font-face {

    font-family: "Source Sans Pro";
    // font-style: normal;

    src: url("../fonts/sourcesanspro-light-webfont.eot");
    src: url("../fonts/sourcesanspro-light-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/sourcesanspro-light-webfont.woff") format("woff"),
         url("../fonts/sourcesanspro-light-webfont.ttf") format("truetype"),
         url("../fonts/sourcesanspro-light-webfont.svg#source_sans_prolight") format("svg");
         
}

b {

	font-weight: bold;

}